@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap');

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background: transparent;
 }
 ::-webkit-scrollbar-thumb{
    background: #ff4791d9;
    border-radius: 10px;
 }